.content-card {
    --bs-card-cap-color: var(--bs-body-color);
    --bs-card-height: 225px;

    @include media-breakpoint-down(md) {
        --bs-card-cap-bg: transparent;
    }

    min-width: 250px;

    &-preview-badge {
        border-radius: 0 0 0 10px;
        background-color: var(--bs-card-cap-bg);
        color: var(--bs-card-cap-color) !important;

        @include media-breakpoint-down(md) {
            background-color: transparent;
        }
    }

    &-header {
        @include media-breakpoint-up(md) {
            min-height: ($line-height-lg * 2.5) + rem;
            padding-bottom: 0;
        }
    }

    &-header-updated {
        font-size: #{$sub-sup-font-size};
    }
}
