// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "_admin_variables", "_functions";

$questionset-primary-color: #465c6c;

@import "navtabs";

.versioncontent {
  margin-top: 20px;
}

.ca-admin-folium-view {
    font-size: 1.2em;
    font-family: monospace;
    border: 0;
    background-color: transparent;
}

.h5p-action-button-container {
    white-space: nowrap;
 }

.h5p-action-button {
    min-width: 25px;
    display: inline-block;
}

.rebuild-btn {
    border-color: $brand-primary;
}
