// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "_admin_variables", "_functions";

$questionset-primary-color: #465c6c;

@import "navtabs";

.container-admin {
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
}

.versioncontent {
  margin-top: 20px;
}

.ca-admin-folium-view {
    font-size: 1.2em;
    font-family: monospace;
    border: 0;
    background-color: transparent;
}

.h5p-action-button-container {
    white-space: nowrap;
 }

.h5p-action-button {
    min-width: 25px;
    display: inline-block;
}

.rebuild-btn {
    border-color: $brand-primary;
}

.row-odd {
    background-color: #f9f9f9;
}

.collapse-item {
    background-color: #fffaf0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.collapse-item-last {
    border-bottom: 2px solid grey;
}

.vertical-align-middle {
    vertical-align: middle;
}
