127.0.0.1   edlib.internal.url.local
127.0.0.1   edlib.internal.auth.local
127.0.0.1   edlib.internal.resource.local
127.0.0.1   edlib.internal.lti.local
127.0.0.1   edlib.internal.doku.local
127.0.0.1   edlibfacade.local
127.0.0.1   test.edlibfacade.local
127.0.0.1   localhost
127.0.0.1   contentauthor.local
127.0.0.1   api.edlib.local
127.0.0.1   npm.components.edlib.local
