@import '../../../../../sass/_admin_variables';

.infobox {
    background-color: $questionset-primary-color;
    padding: 8px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .infotext {
        margin: 8px;
        @include respond-to('tabletAndUp') {
            flex: 6;
        }
    }

    .infoactions {
        width: 100%;
        @include respond-to('tabletAndUp') {
            flex: 4;
            text-align: right;
        }
    }

    .infoicon {
        height: 60px;
        margin: 0 10px;
    }

    .goback {
        border-color: #FFF;
        text-transform: initial;
        margin-top: 8px;
    }

    .generate {
        color: $questionset-primary-color;
        text-transform: initial;
        background-color: $gray-lighter;
    }

    .recheck {
        border-color: $questionset-primary-color;
        text-transform: initial;
        background-color: transparent;
    }

    &.headerbox {
        flex-wrap: nowrap;
        align-items: center;

        .infotext {
            font-size: 2em;
            flex: 1 1 100%;
            text-align: center;

            @include respond-to('tabletAndUp') {
                flex: 1 1 100%;
            }
        }

        .infoactions {
            flex: 0 0 0.01px;

            @include respond-to('tabletAndUp') {
                flex: 0 0 0.01px;
            }
        }
    }
}
