.h5p-editor-list {
  max-width: 1000px;

  .h5p-editor-list-filters {
    display: flex;

    & > *:not(:first-child) {
      margin-left: 15px;
    }
  }

  .h5p-editor-list-item {
    padding: 10px 0;

    &.indent {
      padding-left: 30px;
    }

    .start-value {
      padding: 10px 0;
    }

    .richTextEditorToolbar {
      border: 0;
    }
  }

  .path {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .translation-input {
    .translation-textarea {
      width: 100%;
      padding: 10px;
    }

    .cke5-editor__container {
        .ck-content {
            line-height: 1.6;
            word-break: break-word;
        }

        .ck-font-size-dropdown .ck-dropdown__panel,
        .ck-text-fragment-language-dropdown .ck-dropdown__panel,
        .ck-color-ui-dropdown .ck-dropdown__panel,
        {
            max-height: 20em;
            overflow-y: scroll;
            max-width: 50em;
            left: unset;
            right: 0;
        }

        .ck-fontsize-option .ck-button__label {
            line-height: normal !important;
        }
    }
  }

  .info-text {
    padding-bottom: 20px;
  }

  .splitter {
    border-bottom: 1px solid gray;
    margin: 10px 0;
  }

  .listitem-original-text {
      border: 1px solid gray;
      background-color: #fdf5e6;
      padding: 10px;

      p {
          margin: 1em;
      }
  }
}
