{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ], [
        "@babel/preset-react",
          {
              "runtime": "classic"
          }
      ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-node-env-inline",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-class-properties"
  ]
}
