bootstrap/cache/*
node_modules/
public/h5p-editor-php-library
public/h5p-php-library
public/h5pstorage/*
public/storage/*
storage/
vendor/
.env
buildandtest.sh
buildid
.phpunit.result.cache
test-storage-volume
ndladata/
test-storage-volume/
