APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

FILESYSTEM_DRIVER=local

SESSION_DRIVER=redis
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

#H5P_CONSUMER_KEY=
H5P_CONSUMER_SECRET=secret2

NDLA_BASEURL=<http://ndlareplica.cerpusdev.net>
IMPORT_USERID=<some-auth-id-guid>

ENABLE_LICENSING=false

#UPLOAD_STORAGE_DRIVER=<local>

# Where game uploads end up, default shown. Probably no need to change this.
#UPLOAD_STORAGE_PATH_GAME='<path-to-install>/public/h5pstorage/games'

FEATURE_CONTENT_LOCKING=true
FEATURE_VERSIONING=true

FEATURE_CONTEXT_COLLABORATION=false

#H5P_VIDEO_ADAPTER=streamps
#H5P_VIDEO_URL=https://videoapi-test.cerpusdev.net
#H5P_VIDEO_ADAPTER_KEY=contentauthortest
#H5P_VIDEO_ADAPTER_SECRET=
#H5P_VIDEO_ADAPTER_DELETEVIDEO=true

H5P_SINGLE_CONTENT_UPGRADE=true

# FEATURE_COLLABORATION=false # Enable collaboration feature

IMAGESERVICE_URL=   # URL to the image service
SESSION_LIFETIME=120
