/vendor/
node_modules/
Homestead.yaml
Homestead.json
.env
.idea/

/public/*
!/public/vendor
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/public/.htaccess
!/public/graphical
!public/js
/public/js/*
!/public/js/presave
!/public/js/article-xapi.js
!/public/js/cerpus.js
!/public/js/editor-setup.js
!/public/js/h5p
/public/js/h5p/*
!/public/js/h5p-editor.js
!/public/js/jsrequestintercept.js
!/public/js/jwtclient.js
!/public/js/listener.js
!/public/js/mathquillEditor
!/public/js/question-editor.js
!/public/js/resource-common.js
!/public/js/videos/brightcove.js
!/public/js/videos/streamps.js

mix-manifest.json
app/Libraries/oauth-php/example/server/cache/
ca1.sql
cerpus_export_log*
example-*-import-request.xml
h5p_nodes.sql
content-author-23-05-2016.sql
import.log
laravel.log
lti
!/resources/views/lti
ndladata/cerpus_export_log_package.sql
ndladata/example-package-import-request.xml

/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

buildall.sh
Packages/*

buildandtest.sh
buildid
*.cache

test-storage-volume/
/storage/framework/testing/
