/vendor/
node_modules/
Homestead.yaml
Homestead.json
.env
.idea/

/public/*
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/public/.htaccess
!/public/css
!/public/graphical
!/public/js
/public/js/ckeditor
/public/js/cropperjs
!/public/vendor

app/Libraries/oauth-php/example/server/cache/
ca1.sql
cerpus_export_log*
example-*-import-request.xml
h5p_nodes.sql
content-author-23-05-2016.sql
import.log
laravel.log
ndladata/cerpus_export_log_package.sql
ndladata/example-package-import-request.xml

/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

buildall.sh
Packages/*

buildandtest.sh
buildid
*.cache

test-storage-volume/
/storage/framework/testing/
/tools/vapor-cli/vendor
