/vendor/
node_modules/
Homestead.yaml
Homestead.json
.env
.idea/
/public/*
!/public/vendor
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/public/.htaccess
app/Libraries/oauth-php/example/server/cache/
ca1.sql
cerpus_export_log*
example-*-import-request.xml
h5p_nodes.sql
content-author-23-05-2016.sql
import.log
laravel.log
lti
!/resources/views/lti
ndladata/cerpus_export_log_package.sql
ndladata/example-package-import-request.xml
resources/assets/js/react-dom.min.js
resources/assets/js/react.min.js
resources/assets/js/react-dom.js
resources/assets/js/react.js
resources/assets/css/font-awesome.min.css

/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

buildall.sh
Packages/*

buildandtest.sh
buildid
.phpunit.result.cache

test-storage-volume/
/storage/framework/testing/

/resources/assets/js/h5p/ckeditor_wiris

mix-manifest.json
