parameters:
	ignoreErrors:
		-
			message: "#^Method GuzzleHttp\\\\ClientInterface\\:\\:request\\(\\) invoked with 1 parameter, 2\\-3 required\\.$#"
			count: 1
			path: app/Article.php

		-
			message: "#^Property App\\\\Auth\\\\Guards\\\\EdlibGuard\\:\\:\\$user \\(Illuminate\\\\Auth\\\\GenericUser\\|null\\) does not accept Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null\\.$#"
			count: 1
			path: app/Auth/Guards/EdlibGuard.php

		-
			message: "#^Access to an undefined property App\\\\ContentLanguageLink\\:\\:\\$link_content_id\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property App\\\\ContentLanguageLink\\:\\:\\$main_content_id\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 2
			path: app/Content.php

		-
			message: "#^Access to an undefined property App\\\\Events\\\\ArticleWasCopied\\:\\:\\$article\\.$#"
			count: 1
			path: app/Events/ArticleWasCopied.php

		-
			message: "#^Access to an undefined property App\\\\Events\\\\ArticleWasCopied\\:\\:\\$reason\\.$#"
			count: 1
			path: app/Events/ArticleWasCopied.php

		-
			message: "#^Method App\\\\Exceptions\\\\Handler\\:\\:render\\(\\) should return Illuminate\\\\Http\\\\Response but returns Symfony\\\\Component\\\\HttpFoundation\\\\Response\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Method App\\\\Exceptions\\\\Handler\\:\\:report\\(\\) with return type void returns null but should not return anything\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^PHPDoc type array of property App\\\\Exceptions\\\\Handler\\:\\:\\$dontReport is not covariant with PHPDoc type array\\<int, class\\-string\\<Throwable\\>\\> of overridden property Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:\\$dontReport\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Result of method Illuminate\\\\Foundation\\\\Exceptions\\\\Handler\\:\\:report\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/Game.php

		-
			message: "#^Method App\\\\H5PCollaborator\\:\\:setUpdatedAt\\(\\) should return \\$this\\(App\\\\H5PCollaborator\\) but return statement is missing\\.$#"
			count: 1
			path: app/H5PCollaborator.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 2
			path: app/H5PContent.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 1
			path: app/H5PContent.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\LinkInfoController\\:\\:buildResourceResponse\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 1
			path: app/Http/Controllers/API/LinkInfoController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\QuestionsetController\\:\\:buildResourceResponse\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 1
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchAnswers\\(\\) expects null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchQuestions\\(\\) expects Illuminate\\\\Support\\\\Collection\\|null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Static method Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject\\:\\:create\\(\\) invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 6
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Static call to instance method App\\\\H5PContent\\:\\:noMaxScoreScope\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/AdminController.php

		-
			message: "#^Function collect invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 1
			path: app/Http/Controllers/ArticleController.php

		-
			message: "#^Cannot access property \\$resource on array\\|bool\\|float\\|int\\|object\\|string\\.$#"
			count: 1
			path: app/Http/Controllers/ArticleCopyrightController.php

		-
			message: "#^Called 'isNotEmpty' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\H5PController\\:\\:getContentLicense\\(\\) should return Illuminate\\\\Http\\\\Response but returns int\\|string\\|false\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Parameter \\#2 \\$current of method H5PCore\\:\\:getStorableDisplayOptions\\(\\) expects int, null given\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Variable \\$emails in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\QuestionSetController\\:\\:buildResourceResponse\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 1
			path: app/Http/Controllers/QuestionSetController.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$middlewarePriority is not covariant with PHPDoc type array\\<string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middlewarePriority\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Anonymous function has an unused use \\$newH5P\\.$#"
			count: 1
			path: app/Http/Libraries/H5PFileVersioner.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(string\\)\\: bool\\)\\|null, 'strlen' given\\.$#"
			count: 1
			path: app/Http/Libraries/License.php

		-
			message: "#^Variable \\$registerSettings might not be defined\\.$#"
			count: 1
			path: app/Http/Middleware/LtiBehaviorSettings.php

		-
			message: "#^Variable \\$validator might not be defined\\.$#"
			count: 2
			path: app/Http/Middleware/LtiBehaviorSettings.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$headers is not covariant with PHPDoc type int of overridden property Illuminate\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$headers\\.$#"
			count: 1
			path: app/Http/Middleware/TrustProxies.php

		-
			message: "#^Property App\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$headers \\(array\\) does not accept default value of type int\\.$#"
			count: 1
			path: app/Http/Middleware/TrustProxies.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: app/Http/Requests/H5PStorageRequest.php

		-
			message: "#^Method App\\\\Libraries\\\\DataObjects\\\\Attribution\\:\\:getOrigin\\(\\) should return null but returns string\\.$#"
			count: 1
			path: app/Libraries/DataObjects/Attribution.php

		-
			message: "#^Method App\\\\Libraries\\\\Games\\\\GameBase\\:\\:buildResourceResponse\\(\\) should return Illuminate\\\\Http\\\\Response but returns Illuminate\\\\Http\\\\JsonResponse\\.$#"
			count: 1
			path: app/Libraries/Games/GameBase.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/CerpusH5PAdapter.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/NDLAH5PAdapter.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$majorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$minorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\AdminConfig\\:\\:\\$core is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\AdminConfig\\:\\:\\$id is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Cannot access property \\$css on array\\.$#"
			count: 2
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Parameter \\#6 \\$fileDir of method H5peditor\\:\\:getLibraryData\\(\\) expects string, null given\\.$#"
			count: 1
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 3
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<int,App\\\\H5PLibrary\\>\\:\\:filter\\(\\) expects \\(callable\\(App\\\\H5PLibrary, int\\)\\: bool\\)\\|null, Closure\\(mixed\\)\\: int given\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorAjax.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$isOld\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$majorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$metadataSettings\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$minorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$uberName\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Property App\\\\H5PLibrary\\:\\:\\$restricted \\(int\\) does not accept false\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 3
			path: app/Libraries/H5P/Framework.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/Libraries/H5P/Framework.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Framework\\:\\:getLibraryId\\(\\) should return int but returns false\\.$#"
			count: 1
			path: app/Libraries/H5P/Framework.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Framework\\:\\:hasPermission\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: app/Libraries/H5P/Framework.php

		-
			message: "#^Method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:put\\(\\) invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PImport.php

		-
			message: "#^Parameter \\#1 \\$content of method H5PStorage\\:\\:savePackage\\(\\) expects null, array given\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PImport.php

		-
			message: "#^Parameter \\#1 \\$key of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:put\\(\\) expects \\(int\\|string\\), array\\<string, string\\> given\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PImport.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Parameter \\#4 \\$options of method H5PStorage\\:\\:savePackage\\(\\) expects array, bool given\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Undefined variable\\: \\$dev_lib$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Variable \\$dev_lib in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Call to method execute\\(\\) on an unknown class App\\\\Libraries\\\\H5P\\\\PDOStatement\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Call to method fetchAll\\(\\) on an unknown class App\\\\Libraries\\\\H5P\\\\PDOStatement\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\H5PProgress\\:\\:getProgress\\(\\) should return bool\\|string but returns null\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^PHPDoc tag @var for variable \\$stmt contains unknown class App\\\\Libraries\\\\H5P\\\\PDOStatement\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$db PDO\\)\\: Unexpected token \"\\$db\", expected type at offset 16$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\H5PProgress\\:\\:\\$request is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 2
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PViewConfig.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Libraries/H5P/Helper/H5PPackageProvider.php

		-
			message: "#^Anonymous function has an unused use \\$slide\\.$#"
			count: 1
			path: app/Libraries/H5P/Packages/CoursePresentation.php

		-
			message: "#^Offset 'package' on array\\{package\\: App\\\\Libraries\\\\H5P\\\\Interfaces\\\\PackageInterface, index\\: \\(int\\|string\\)\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Libraries/H5P/Packages/InteractiveVideo.php

		-
			message: "#^Call to function is_null\\(\\) with object\\{package\\: App\\\\Libraries\\\\H5P\\\\Interfaces\\\\PackageInterface, answers\\: mixed, context\\: string\\|null\\}&stdClass will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/Reports/H5PPackage.php

		-
			message: "#^Access to an undefined property H5peditorFile\\:\\:\\$hash\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:createDirectory\\(\\)\\.$#"
			count: 2
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:has\\(\\)\\.$#"
			count: 5
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\:\\:listContents\\(\\)\\.$#"
			count: 3
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Called 'isNotEmpty' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Storage\\\\H5PCerpusStorage\\:\\:getContent\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Storage\\\\H5PCerpusStorage\\:\\:moveContentDirectory\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Storage\\\\H5PCerpusStorage\\:\\:moveContentDirectory\\(\\) should return object but returns null\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Static call to instance method App\\\\H5PFile\\:\\:deleteContentPendingUpload\\(\\)\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Variable \\$filePath might not be defined\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Parameter \\#1 \\$content of method H5peditor\\:\\:processParameters\\(\\) expects stdClass, int given\\.$#"
			count: 1
			path: app/Libraries/H5P/h5p.php

		-
			message: "#^Undefined variable\\: \\$library$#"
			count: 1
			path: app/Libraries/H5P/h5p.php

		-
			message: "#^Variable \\$library in empty\\(\\) is never defined\\.$#"
			count: 1
			path: app/Libraries/H5P/h5p.php

		-
			message: "#^Access to an undefined property HTMLPurifier_Definition\\:\\:\\$manager\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method App\\\\Libraries\\\\HTMLPurify\\\\Config\\\\MathMLConfig\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, null given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method HTMLPurifier_HTML5Config\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, HTMLPurifier_ConfigSchema given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#3 \\$type of method HTMLPurifier_ConfigSchema\\:\\:add\\(\\) expects string, int given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\HTMLPurify\\\\HTMLModule\\\\MathML\\:\\:\\$mathml_prefix is never read, only written\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/HTMLModule/MathML.php

		-
			message: "#^Access to property \\$data on an unknown class App\\\\Libraries\\\\HTMLPurify\\\\Injector\\\\HTMLPurifier_Token\\.$#"
			count: 3
			path: app/Libraries/HTMLPurify/Injector/MathMLSpaceNormalize.php

		-
			message: "#^Parameter \\$token of method App\\\\Libraries\\\\HTMLPurify\\\\Injector\\\\MathMLSpaceNormalize\\:\\:handleText\\(\\) has invalid type App\\\\Libraries\\\\HTMLPurify\\\\Injector\\\\HTMLPurifier_Token\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Injector/MathMLSpaceNormalize.php

		-
			message: "#^PHPDoc type array of property App\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies is not covariant with PHPDoc type array\\<class\\-string, class\\-string\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\AuthServiceProvider\\:\\:\\$policies\\.$#"
			count: 1
			path: app/Providers/AuthServiceProvider.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/QuestionSet.php

		-
			message: "#^PHPDoc type array of property App\\\\User\\:\\:\\$fillable is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$fillable\\.$#"
			count: 1
			path: app/User.php

		-
			message: "#^PHPDoc type array of property App\\\\User\\:\\:\\$hidden is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$hidden\\.$#"
			count: 1
			path: app/User.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: database/migrations/2015_09_25_092958_create_h5p_contents_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_languages_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 4
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_table.php

		-
			message: "#^Method ChangeDefaultPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2015_12_08_073717_change_default_password.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_12_15_081807_create_content_sharing_table.php

		-
			message: "#^Method ChangeAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2016_04_19_073909_ChangeAdminPassword.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 1
			path: tests/Integration/Jobs/PingVideoApiTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/Package/MultiChoiceTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Integration/Models/ContentVersionTest.php
