parameters:
	ignoreErrors:
		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/Game.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/API/LinkInfoController.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchAnswers\\(\\) expects null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchQuestions\\(\\) expects Illuminate\\\\Support\\\\Collection\\|null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Static method Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject\\:\\:create\\(\\) invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 6
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/QuestionSetController.php

		-
			message: "#^Property App\\\\Http\\\\Libraries\\\\ContentTypes\\\\ContentType\\:\\:\\$guarded is never read, only written\\.$#"
			count: 1
			path: app/Http/Libraries/ContentTypes/ContentType.php

		-
			message: "#^Call to function is_null\\(\\) with App\\\\H5PFile will always evaluate to false\\.$#"
			count: 1
			path: app/Jobs/H5PFileUpload.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: app/Jobs/ReplaceVideoRefId.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/Games/GameBase.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/CerpusH5PAdapter.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/NDLAH5PAdapter.php

		-
			message: "#^Call to function is_string\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Call to function is_string\\(\\) with object will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 3
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PCopyright.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PCopyright.php

		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\H5PProgress\\:\\:\\$request is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 2
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PViewConfig.php

		-
			message: "#^Call to function is_null\\(\\) with App\\\\Libraries\\\\H5P\\\\Interfaces\\\\PackageInterface will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/Packages/CoursePresentation.php

		-
			message: "#^Access to an undefined property H5peditorFile\\:\\:\\$hash\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Storage\\\\H5PCerpusStorage\\:\\:getContent\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Static call to instance method App\\\\H5PFile\\:\\:deleteContentPendingUpload\\(\\)\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Variable \\$filePath might not be defined\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Access to an undefined property HTMLPurifier_Definition\\:\\:\\$manager\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method App\\\\Libraries\\\\HTMLPurify\\\\Config\\\\MathMLConfig\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, null given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method HTMLPurifier_HTML5Config\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, HTMLPurifier_ConfigSchema given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#3 \\$type of method HTMLPurifier_ConfigSchema\\:\\:add\\(\\) expects string, int given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\HTMLPurify\\\\HTMLModule\\\\MathML\\:\\:\\$mathml_prefix is never read, only written\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/HTMLModule/MathML.php

		-
			message: "#^Anonymous function has an unused use \\$mailer\\.$#"
			count: 1
			path: app/Listeners/Article/HandleCollaborationInviteEmails.php

		-
			message: "#^Access to an undefined property App\\\\Libraries\\\\Versioning\\\\VersionableObject\\:\\:\\$id\\.$#"
			count: 1
			path: app/Listeners/H5P/Copy/HandleVersioning.php

		-
			message: "#^Access to an undefined property H5PCore\\:\\:\\$aggregateAssets\\.$#"
			count: 1
			path: app/Providers/H5PServiceProvider.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/QuestionSet.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, int\\<1, max\\> given\\.$#"
			count: 1
			path: database/migrations/2014_10_12_104748_create_administrators_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: database/migrations/2015_09_25_092958_create_h5p_contents_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_languages_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 4
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_table.php

		-
			message: "#^Method ChangeDefaultPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2015_12_08_073717_change_default_password.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_12_15_081807_create_content_sharing_table.php

		-
			message: "#^Method ChangeAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2016_04_19_073909_ChangeAdminPassword.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2018_04_05_083016_add_h5p_hub_cache.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2019_04_24_103853_update_hub_cache.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2019_05_21_121648_add_cerpus_video_and_image_to_cache.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/Package/MultiChoiceTest.php
