parameters:
	ignoreErrors:
		-
			message: "#^Method GuzzleHttp\\\\ClientInterface\\:\\:request\\(\\) invoked with 1 parameter, 2\\-3 required\\.$#"
			count: 1
			path: app/Article.php

		-
			message: "#^Property App\\\\Auth\\\\Guards\\\\EdlibGuard\\:\\:\\$user \\(Illuminate\\\\Auth\\\\GenericUser\\|null\\) does not accept Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null\\.$#"
			count: 1
			path: app/Auth/Guards/EdlibGuard.php

		-
			message: "#^Should not use node with type \"Stmt_Echo\", please change the code\\.$#"
			count: 2
			path: app/Console/Commands/VersionAllUnversionedContent.php

		-
			message: "#^Access to an undefined property App\\\\ContentLanguageLink\\:\\:\\$link_content_id\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property App\\\\ContentLanguageLink\\:\\:\\$main_content_id\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 3
			path: app/Content.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Content.php

		-
			message: "#^Access to an undefined property App\\\\Events\\\\ArticleWasCopied\\:\\:\\$article\\.$#"
			count: 1
			path: app/Events/ArticleWasCopied.php

		-
			message: "#^Access to an undefined property App\\\\Events\\\\ArticleWasCopied\\:\\:\\$reason\\.$#"
			count: 1
			path: app/Events/ArticleWasCopied.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/Game.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 1
			path: app/H5PContent.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_at\\.$#"
			count: 1
			path: app/Http/Controllers/API/H5PInfoController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/API/H5PInfoController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$created_at\\.$#"
			count: 1
			path: app/Http/Controllers/API/LinkInfoController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/Http/Controllers/API/LinkInfoController.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/API/LinkInfoController.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: app/Http/Controllers/API/LockStatusController.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchAnswers\\(\\) expects null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Parameter \\#1 \\$searchParams of static method Cerpus\\\\QuestionBankClient\\\\Adapters\\\\QuestionBankAdapter\\:\\:searchQuestions\\(\\) expects Illuminate\\\\Support\\\\Collection\\|null, Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject given\\.$#"
			count: 2
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Static method Cerpus\\\\QuestionBankClient\\\\DataObjects\\\\SearchDataObject\\:\\:create\\(\\) invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 6
			path: app/Http/Controllers/API/QuestionsetController.php

		-
			message: "#^Static call to instance method App\\\\H5PContent\\:\\:noMaxScoreScope\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/AdminController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/AdminH5PDetailsController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/AdminUserController.php

		-
			message: "#^Anonymous function has an unused use \\$hubCacheLibraries\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/LibraryUpgradeController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/LocksController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Http/Controllers/Admin/VersioningController.php

		-
			message: "#^Cannot access property \\$resource on array\\|bool\\|float\\|int\\|object\\|string\\.$#"
			count: 1
			path: app/Http/Controllers/ArticleCopyrightController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\H5PController\\:\\:getContentLicense\\(\\) should return Illuminate\\\\Http\\\\Response but returns int\\|string\\|false\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Variable \\$emails in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Variable \\$library in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: app/Http/Controllers/H5PController.php

		-
			message: "#^Call to function is_null\\(\\) with string will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/LinkController.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/QuestionSetController.php

		-
			message: "#^Variable \\$names might not be defined\\.$#"
			count: 1
			path: app/Http/Libraries/AuthJwtParser.php

		-
			message: "#^Property App\\\\Http\\\\Libraries\\\\ContentTypes\\\\ContentType\\:\\:\\$guarded is never read, only written\\.$#"
			count: 1
			path: app/Http/Libraries/ContentTypes/ContentType.php

		-
			message: "#^Call to function is_string\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Libraries/ContentTypes/H5PContentType.php

		-
			message: "#^Method App\\\\Http\\\\Libraries\\\\ContentTypes\\\\H5PContentType\\:\\:getContentTypes\\(\\) should return App\\\\Http\\\\Libraries\\\\ContentTypes\\\\ContentType but returns array\\<int, App\\\\Http\\\\Libraries\\\\ContentTypes\\\\ContentType\\>\\.$#"
			count: 1
			path: app/Http/Libraries/ContentTypes/H5PContentType.php

		-
			message: "#^PHPDoc tag @return with type array is incompatible with native type App\\\\Http\\\\Libraries\\\\ContentTypes\\\\ContentType\\.$#"
			count: 1
			path: app/Http/Libraries/ContentTypes/LinkContentType.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Middleware\\\\GameAccess\\:\\:\\$request\\.$#"
			count: 1
			path: app/Http/Middleware/GameAccess.php

		-
			message: "#^Variable \\$registerSettings might not be defined\\.$#"
			count: 1
			path: app/Http/Middleware/LtiBehaviorSettings.php

		-
			message: "#^Variable \\$validator might not be defined\\.$#"
			count: 2
			path: app/Http/Middleware/LtiBehaviorSettings.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Middleware\\\\QuestionSetAccess\\:\\:\\$request\\.$#"
			count: 1
			path: app/Http/Middleware/QuestionSetAccess.php

		-
			message: "#^Method App\\\\Content\\:\\:isExternalCollaborator\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: app/Http/Middleware/QuestionSetAccess.php

		-
			message: "#^Call to an undefined static method object\\|string\\:\\:isUserPublishEnabled\\(\\)\\.$#"
			count: 1
			path: app/Http/Requests/ArticleRequest.php

		-
			message: "#^Call to function is_null\\(\\) with App\\\\H5PFile will always evaluate to false\\.$#"
			count: 1
			path: app/Jobs/H5PFileUpload.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: app/Jobs/ReplaceVideoRefId.php

		-
			message: "#^Call to function is_null\\(\\) with League\\\\Fractal\\\\Manager will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/Games/GameBase.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/CerpusH5PAdapter.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$tags\\.$#"
			count: 1
			path: app/Libraries/H5P/Adapters/NDLAH5PAdapter.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\AdminConfig\\:\\:\\$core is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\AdminConfig\\:\\:\\$id is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/AdminConfig.php

		-
			message: "#^Call to function is_string\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Call to function is_string\\(\\) with object will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 3
			path: app/Libraries/H5P/AjaxRequest.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$isOld\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$majorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$metadataSettings\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$minorVersion\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$uberName\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Property App\\\\H5PLibrary\\:\\:\\$restricted \\(int\\) does not accept false\\.$#"
			count: 1
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Strict comparison using \\=\\=\\= between int and '1' will always evaluate to false\\.$#"
			count: 2
			path: app/Libraries/H5P/EditorStorage.php

		-
			message: "#^Call to method toArray\\(\\) on an unknown class Cerpus\\\\Helper\\\\Traits\\\\CreateTrait\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PCopyright.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PCopyright.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PCopyright.php

		-
			message: "#^Method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:put\\(\\) invoked with 1 parameter, 2 required\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PImport.php

		-
			message: "#^Parameter \\#1 \\$key of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:put\\(\\) expects \\(int\\|string\\), array\\<string, string\\> given\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PImport.php

		-
			message: "#^Undefined variable\\: \\$dev_lib$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Variable \\$dev_lib in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PLibraryAdmin.php

		-
			message: "#^Dead catch \\- Exception is never thrown in the try block\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Property App\\\\Libraries\\\\H5P\\\\H5PProgress\\:\\:\\$request is never read, only written\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 2
			path: app/Libraries/H5P/H5PProgress.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$path\\.$#"
			count: 1
			path: app/Libraries/H5P/H5PViewConfig.php

		-
			message: "#^Call to function is_null\\(\\) with App\\\\Libraries\\\\H5P\\\\Interfaces\\\\PackageInterface will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/Packages/CoursePresentation.php

		-
			message: "#^Call to function is_null\\(\\) with stdClass will always evaluate to false\\.$#"
			count: 1
			path: app/Libraries/H5P/Reports/H5PPackage.php

		-
			message: "#^Access to an undefined property H5peditorFile\\:\\:\\$hash\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 2
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Method App\\\\Libraries\\\\H5P\\\\Storage\\\\H5PCerpusStorage\\:\\:getContent\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Static call to instance method App\\\\H5PFile\\:\\:deleteContentPendingUpload\\(\\)\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Variable \\$filePath might not be defined\\.$#"
			count: 1
			path: app/Libraries/H5P/Storage/H5PCerpusStorage.php

		-
			message: "#^Access to an undefined property HTMLPurifier_Definition\\:\\:\\$manager\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method App\\\\Libraries\\\\HTMLPurify\\\\Config\\\\MathMLConfig\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, null given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#1 \\$config of static method HTMLPurifier_HTML5Config\\:\\:create\\(\\) expects array\\|HTMLPurifier_Config\\|string, HTMLPurifier_ConfigSchema given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Parameter \\#3 \\$type of method HTMLPurifier_ConfigSchema\\:\\:add\\(\\) expects string, int given\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/Config/MathMLConfig.php

		-
			message: "#^Property App\\\\Libraries\\\\HTMLPurify\\\\HTMLModule\\\\MathML\\:\\:\\$mathml_prefix is never read, only written\\.$#"
			count: 1
			path: app/Libraries/HTMLPurify/HTMLModule/MathML.php

		-
			message: "#^Anonymous function has an unused use \\$mailer\\.$#"
			count: 1
			path: app/Listeners/Article/HandleCollaborationInviteEmails.php

		-
			message: "#^Access to an undefined property App\\\\Libraries\\\\Versioning\\\\VersionableObject\\:\\:\\$id\\.$#"
			count: 1
			path: app/Listeners/H5P/Copy/HandleVersioning.php

		-
			message: "#^Access to an undefined property H5PCore\\:\\:\\$aggregateAssets\\.$#"
			count: 1
			path: app/Providers/H5PServiceProvider.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 1
			path: app/QuestionSet.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, int\\<1, max\\> given\\.$#"
			count: 1
			path: database/migrations/2014_10_12_104748_create_administrators_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 2
			path: database/migrations/2015_09_25_092958_create_h5p_contents_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_languages_table.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 4
			path: database/migrations/2015_09_25_092958_create_h5p_libraries_table.php

		-
			message: "#^Method ChangeDefaultPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2015_12_08_073717_change_default_password.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:text\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: database/migrations/2015_12_15_081807_create_content_sharing_table.php

		-
			message: "#^Method ChangeAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2016_04_19_073909_ChangeAdminPassword.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2018_04_05_083016_add_h5p_hub_cache.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2019_04_24_103853_update_hub_cache.php

		-
			message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
			count: 1
			path: database/migrations/2019_05_21_121648_add_cerpus_video_and_image_to_cache.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) is unused\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Method SetAdminPassword\\:\\:createPassword\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: database/migrations/2020_12_07_133958_set_admin_password.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 10
			path: tests/Integration/Article/ArticleVersioningTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 11
			path: tests/Integration/Article/ArticleVersioningTest.php

		-
			message: "#^Called 'count' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 2
			path: tests/Integration/Article/ArticleVersioningTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 2
			path: tests/Integration/Content/ContentTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 10
			path: tests/Integration/Content/LockStatusTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 5
			path: tests/Integration/Content/UnlockTest.php

		-
			message: "#^Access to an undefined property App\\\\H5PLibrary\\:\\:\\$type\\.$#"
			count: 1
			path: tests/Integration/Http/Controllers/ArticleCopyrightControllerTest.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\ApiModels\\\\User constructor expects string, int given\\.$#"
			count: 2
			path: tests/Integration/Http/Controllers/GameControllerTest.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\ApiModels\\\\User constructor expects string, int given\\.$#"
			count: 1
			path: tests/Integration/Http/Controllers/H5PControllerTest.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\ApiModels\\\\User constructor expects string, int given\\.$#"
			count: 2
			path: tests/Integration/Http/Controllers/LinkControllerTest.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\ApiModels\\\\User constructor expects string, int given\\.$#"
			count: 2
			path: tests/Integration/Http/Controllers/QuestionSetControllerTest.php

		-
			message: "#^Variable \\$questionSetController in PHPDoc tag @var does not match assigned variable \\$questionsetController\\.$#"
			count: 1
			path: tests/Integration/Http/Controllers/QuestionSetControllerTest.php

		-
			message: "#^Property Tests\\\\Integration\\\\Jobs\\\\PingVideoApiTest\\:\\:\\$disk \\(Illuminate\\\\Filesystem\\\\FilesystemAdapter\\) does not accept Illuminate\\\\Contracts\\\\Filesystem\\\\Filesystem\\.$#"
			count: 1
			path: tests/Integration/Jobs/PingVideoApiTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 7
			path: tests/Integration/Libraries/H5P/API/H5PImportControllerTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$auth_id\\.$#"
			count: 18
			path: tests/Integration/Libraries/H5P/CRUTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$email\\.$#"
			count: 27
			path: tests/Integration/Libraries/H5P/CRUTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 14
			path: tests/Integration/Libraries/H5P/CRUTest.php

		-
			message: "#^Access to an undefined property Tests\\\\Integration\\\\Libraries\\\\H5P\\\\CRUTest\\:\\:\\$editorFilesDirectory\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/CRUTest.php

		-
			message: "#^Call to method toArray\\(\\) on an unknown class Cerpus\\\\Helper\\\\Traits\\\\CreateTrait\\.$#"
			count: 4
			path: tests/Integration/Libraries/H5P/H5PCopyrightTest.php

		-
			message: "#^Access to an undefined property Faker\\\\Generator\\:\\:\\$mimeType\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/Package/ColumnTest.php

		-
			message: "#^Access to an undefined property Faker\\\\Generator\\:\\:\\$mimeType\\.$#"
			count: 3
			path: tests/Integration/Libraries/H5P/Package/CoursePresentationTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/Package/MultiChoiceTest.php

		-
			message: "#^Access to an undefined property Faker\\\\Generator\\:\\:\\$mimeType\\.$#"
			count: 1
			path: tests/Integration/Libraries/H5P/Package/VideoTest.php

		-
			message: "#^Parameter \\$share of class App\\\\Libraries\\\\DataObjects\\\\ResourceMetadataDataObject constructor expects string\\|null, true given\\.$#"
			count: 2
			path: tests/Integration/Libraries/QuestionSetConverterTest.php

		-
			message: "#^Parameter \\#1 \\$attribution of method App\\\\Content\\:\\:setAttribution\\(\\) expects App\\\\Libraries\\\\DataObjects\\\\Attribution, string given\\.$#"
			count: 1
			path: tests/Integration/Models/ContentAttributionTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: tests/Integration/Models/H5PContentRequestShouldBecomeNewVersionTest.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$title\\.$#"
			count: 6
			path: tests/Integration/Models/H5PContentRequestShouldBecomeNewVersionTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getContentLicense\\(\\)\\.$#"
			count: 7
			path: tests/Integration/Models/H5PContentRequestShouldBecomeNewVersionTest.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:requestShouldBecomeNewVersion\\(\\)\\.$#"
			count: 12
			path: tests/Integration/Models/H5PContentRequestShouldBecomeNewVersionTest.php

		-
			message: "#^Call to an undefined method Tests\\\\TestCase\\:\\:setUpMockMQ\\(\\)\\.$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Method Tests\\\\TestCase\\:\\:setUpTraits\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: tests/TestCase.php
