<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         cacheDirectory=".phpunit.cache">
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <coverage/>
    <testsuites>
        <testsuite name="Integration tests">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="256M" />
        <server name="APP_ENV" value="testing" force="true"/>
        <server name="APP_DEBUG" value="true" force="true"/>
        <server name="APP_URL" value="http://localhost"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_DRIVER" value="sync"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="ENABLE_LICENSING" value="true"/>
        <server name="FEATURE_CONTENT_LOCKING" value="true"/>
        <server name="FEATURE_CONTEXT_COLLABORATION" value="true"/>
        <server name="FEATURE_COLLABORATION" value="true"/>
        <server name="LICENSE_SITE" value="ContentAuthorTest"/>
        <server name="H5P_CONSUMER_KEY" value="h5p"/>
        <server name="H5P_CONSUMER_SECRET" value="secret2"/>
        <server name="H5P_TRANSLATOR" value="null" />
        <server name="H5P_VIDEO_ACCOUNT_ID" value="1234567890"/>
        <server name="TEST_FS_ROOT" value="/tmp"/>
        <server name="MAIL_PRETEND" value="true"/>
        <server name="MAIL_DRIVER" value="log"/>
        <server name="H5P_VIDEO_ADAPTER_DELETEVIDEO" value="true"/>
        <server name="FILESYSTEM_DRIVER" value="test"/>
        <server name="NDLA_H5P_VIDEO_ACCOUNT_ID" value="videoAccountId"/>
        <server name="H5P_VIDEO_ADAPTER" value="null"/>
        <server name="H5P_IMAGE_ADAPTER" value="null"/>
        <server name="H5P_AUDIO_ADAPTER" value="null"/>
        <server name="H5P_DEVELOPMENT_MODE" value="false"/>
    </php>
</phpunit>
