<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         executionOrder="depends,defects"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="256M" />
        <server name="APP_ENV" value="testing" force="true"/>
        <server name="APP_DEBUG" value="true" force="true"/>
        <server name="APP_URL" value="http://localhost"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_DRIVER" value="sync"/>
        <server name="DB_CONNECTION" value="sqlite-test"/>
        <server name="ENABLE_LICENSING" value="true"/>
        <server name="FEATURE_CONTENT_LOCKING" value="true"/>
        <server name="FEATURE_CONTEXT_COLLABORATION" value="true"/>
        <server name="FEATURE_COLLABORATION" value="true"/>
        <server name="LICENSE_SITE" value="ContentAuthorTest"/>
        <server name="H5P_CONSUMER_KEY" value="h5p"/>
        <server name="H5P_CONSUMER_SECRET" value="secret2"/>
        <server name="H5P_VIDEO_ACCOUNT_ID" value="1234567890"/>
        <server name="TEST_FS_ROOT" value="/tmp"/>
        <server name="MAIL_PRETEND" value="true"/>
        <server name="MAIL_DRIVER" value="log"/>
        <server name="VERSION_API_SERVER" value="http://versionApiServer.local"/>
        <server name="H5P_VIDEO_ADAPTER_DELETEVIDEO" value="true"/>
        <server name="FEATURE_ENABLE_USER_PUBLISH" value="false"/>
        <server name="FILESYSTEM_DRIVER" value="test"/>
        <server name="NDLA_H5P_VIDEO_ACCOUNT_ID" value="videoAccountId"/>
    </php>
</phpunit>
