server {
  listen 80;

  server_name facade.${EDLIB_ROOT_DOMAIN};

  return 301 https://facade.${EDLIB_ROOT_DOMAIN}$request_uri;
}

server {
  include includes/https.conf;

  server_name facade.${EDLIB_ROOT_DOMAIN};

  location / {
    set $upstream  http://edlibfacade:8080;

    proxy_pass $upstream;
    proxy_set_header X-Forwarded-For  $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto https;
  }

  location ~ /\.ht {
    deny all;
  }
}
