server {
  listen 80;

  server_name nynorobot.${EDLIB_ROOT_DOMAIN};

  return 301 https://nynorobot.${EDLIB_ROOT_DOMAIN};
}

server {
  include includes/https.conf;

  server_name nynorobot.${EDLIB_ROOT_DOMAIN};

  root /srv/www/nynorobot/public;

  location / {
    try_files $uri /index.php$is_args$args;
  }

  location ~ \.php$ {
    set $upstream nynorobot:9000;

    include fastcgi.conf;
    fastcgi_pass $upstream;
  }
}
