parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\LtiTool\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\LtiTool\>\:\:\$consumer_key\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/H5PAttachContentTypeTitle.php

		-
			message: '#^Access to an undefined property App\\Models\\LtiTool\|Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\LtiTool\>\:\:\$creator_launch_url\.$#'
			identifier: property.notFound
			count: 2
			path: app/Console/Commands/H5PAttachContentTypeTitle.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\ContentVersion\> is not subtype of native type Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Http/Controllers/NdlaLegacy/SelectController.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\ContentEdlib2Usage\> is not subtype of native type Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: varTag.nativeType
			count: 2
			path: app/Models/Content.php

		-
			message: '#^PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Tag\> is not subtype of native type Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Models/Content.php
