files:
    "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            find /var/log/eb-docker/containers/hub-web/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f
    "/home/ec2-user/setup-healthd-appstat.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            set -e
            NGINXDIR="/var/log/eb-docker/containers/hub-web/healthd"
            HEALTHDDIR="/var/log/nginx/healthd"
            HEALTHD_APPLICATION_FILE="$HEALTHDDIR/application.log"

            mkdir -p $NGINXDIR
            chmod 777 $NGINXDIR
            ls -al /var/log/eb-docker/containers/hub-web
            echo "Healthd folder"
            if [ -L "$HEALTHDDIR" ]; then
                echo "is symlink: $HEALTHDDIR"
            else
                rm -rf "$HEALTHDDIR"
                echo "removed $HEALTHDDIR"
                ln -s "$NGINXDIR" "$HEALTHDDIR"
                echo "linked $NGINXDIR to $HEALTHDDIR"
            fi

container_commands:
    01-healthd-configure:
        command: /home/ec2-user/setup-healthd-appstat.sh
