files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "cwagent"
        },
        "metrics": {
          "namespace": "CWAgent",
          "metrics_collected": {
            "cpu": {
              "measurement": [
                "cpu_usage_idle",
                "cpu_usage_iowait",
                "cpu_usage_user",
                "cpu_usage_system"
              ],
              "totalcpu": false
            },
            "disk": {
              "measurement": [
                "used_percent"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            },
            "diskio": {
              "measurement": [
                "io_time"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            },
            "mem": {
              "measurement": [
                "mem_used_percent",
                "mem_used",
                "mem_total"
              ],
              "metrics_collection_interval": 60
            },
            "netstat": {
              "measurement": [
                "tcp_established",
                "tcp_time_wait"
              ],
              "metrics_collection_interval": 60
            },
            "processes": {
              "measurement": [
                "running",
                "sleeping",
                "dead"
              ]
            }
          }
        }
      }

commands:
  01-download-cloudwatch-agent:
    command: |
      wget https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm -O /tmp/amazon-cloudwatch-agent.rpm
    ignoreErrors: false

  02-install-cloudwatch-agent:
    command: |
      rpm -U /tmp/amazon-cloudwatch-agent.rpm
    ignoreErrors: false

  03-start-cloudwatch-agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s
    ignoreErrors: false

