upstream php {
    server ${PHP_FPM_HOST};
}

server {
  listen  80;
  root         /var/www/edlibcommon/public;
  access_log   off;

  index        index.php;
  error_page   404 /index.php;

  location / {
    try_files  $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    include        fastcgi.conf;
    try_files      $uri =404;
    fastcgi_pass   php;
    fastcgi_index  index.php;
    fastcgi_param  HTTPS 'on';
  }
}
