@import "bootstrap/scss/bootstrap";
@import '@fontsource/lato';

:root {
    --bs-font-sans-serif: Lato, sans-serif;
}

.bi {
    display: inline-block;
    vertical-align: -0.125em;
    width: 1em;
    height: 1em;
}
