*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #ffd8d8;
    color: #80084c;
    font-family: comic sans ms;
}

a {
    color: #cc0c79;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
    margin-top: 0;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: block;
}

.pagination a,
.pagination span {
    border: 1px solid;
    display: block;
    padding: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.content-card {
    border: solid 0.25rem;
    max-width: 15rem;
    padding: 1rem;
}
