.edlib-logo {
    width: 80px;
    height: auto;

    @include media-breakpoint-up(md) {
        width: auto;
        height: 80px;
    }
}

.edlib-debug {
    position: relative;
    display: block;
    font-size: 1.2rem;
    left: 10px;
    top: 10px;
    z-index: 1000;

    @include media-breakpoint-up(md) {
        position: absolute;
    }
}

.debug-messages {
    max-height: 100vh;
}

.text-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &.clamp-2-lines {
        -webkit-line-clamp: 2;
    }

    &.clamp-3-lines {
        -webkit-line-clamp: 3;
    }
}

.big-notice {
    min-height: 50vh;
}

.offcanvas.offcanvas-bottom {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 35px;
    right: 35px;
    height: calc(100% - 35px);
}

.filter-side-legend {
    font-size: var(--bs-body-font-size);
}

.filter-badge {
    cursor: pointer;
    font-size: $font-size-sm;
    padding: .35em .65em;
    border-radius: var(--bs-border-radius);
    color: var(--bs-secondary-color);
    background: var(--bs-body-bg);

    &.filter-focus:hover, &.filter-focus:focus-visible {
        outline: none;
        box-shadow: $focus-ring-box-shadow;
    }

    &.filter-selected {
        color: var(--bs-secondary-color);
        background: var(--bs-primary-bg-subtle);
    }

    label {
        cursor: pointer;
    }
}

.filter-contenttype-toggle-button {
    .filter-contenttype-more-content {
        display: none;
    }
    .filter-contenttype-less-content {
        display: flex;
    }

    &.collapsed {
        .filter-contenttype-more-content {
            display: flex;
        }
        .filter-contenttype-less-content {
            display: none;
        }
    }
}

/* Mobile-specific styles */
@include media-breakpoint-down(md) {
    .accordion-item {
        border-left: none;
        border-right: none;
    }

    .first-accordion-item {
        border-top: none;
    }

    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.spinner-container {
    top: -25%;

    .spinner-border {
        color: var(--bs-info);
    }
}

.unhide-when-loading {
    &:not(.htmx-request) {
        display: none;
    }
}
