// The Edlib theme

[data-bs-theme="edlib"] {
    --bs-body-color: var(--bs-gray-700); //Default text color
    --bs-border-color: var(--bs-gray-400); //Default border color for input, buttons, etc

    // Primary button
    .btn-primary {
        @include button-variant($green-100, $gray-400, $gray-900, $green-200, $green-100, $gray-900);
    }

    //Mobile / small screen nav bar
    .navbar-bottom {
        background-color: $green-200;
    }

    p, h1 {
        font-family: Helvetica Neue;
    }

    .btn-custom {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
        border: 1px solid #CED4DA;
    }

    .no-content-found-title {
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        text-align: left;
        color: #000000;
    }

    .no-content-found-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .no-content-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }
}
