// The Edlib theme

[data-bs-theme="edlib"] {
    --bs-body-color: #{$gray-700}; //Default text color
    --bs-border-color: #{$gray-400}; //Default border color for input, buttons, etc

    // Primary button
    .btn-primary {
        @include button-variant($green-100, $gray-400, $gray-900, $green-200, $green-100, $gray-900);
    }

    // Secondary button
    .btn-secondary {
        @include button-variant($white, $gray-400, $gray-900, $gray-200, $gray-400, $gray-900);
    }

    // Mobile / small screen nav bar
    .navbar-bottom {
        background-color: $green-200;
    }

    .dropdown-menu {
        --bs-dropdown-link-active-color: #{$gray-900};
        --bs-dropdown-link-active-bg: #{$green-100};
    }
}
