html
    head
        title=name
    style(type='text/css').
        body {
            max-width: 100%;
        }

        iframe {
            max-width: 100%;
        }
    body
        != html
        script(type="text/javascript").
            let lastPostedHeight = null;
            const setHeight = () => {
                if (document.body.scrollHeight === lastPostedHeight) {
                    return;
                }
                lastPostedHeight = document.body.scrollHeight;
                window.parent.postMessage({
                    "action": "resize",
                    "scrollHeight": document.body.scrollHeight
                }, "*");
            }

            for(let x = 1; x < 21; x++) {
                setTimeout(setHeight, x * 500);
            }
