.sharinglayout-container input.sharinglayout-input {
    margin-right: 5px;
}

.sharinglayout-container {
    display: flex;
    align-items: center;
}

.sharinglayout-container :first-child {
    flex: 1 1 auto;
}
