/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/*
!public/favicon.ico
!public/index.php
!public/robots.txt
.phpstorm.meta.php
_ide_helper*.php
