name: "Release"

on:
  push:
    branches:
      - master

jobs:
  get_variables:
    name: Get build variables
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    outputs:
      releaseRef: ${{ steps.get_ref.outputs.releaseRef }}
    steps:
      - name: Get the ref
        id: get_ref
        run: |
          echo "releaseRef=${{ github.sha }}" >> $GITHUB_OUTPUT

  # ---------- APIS -----------------
  build_image_hub:
    name: Hub
    needs: get_variables
    uses: ./.github/workflows/hub.yaml
    with:
      version: ${{ needs.get_variables.outputs.releaseRef }}
      deploy: false
    secrets: inherit

  build_image_content_author:
    name: Content author
    needs: get_variables
    uses: ./.github/workflows/contentauthor.yaml
    with:
      version: ${{ needs.get_variables.outputs.releaseRef }}
      deploy: false
    secrets: inherit

  deploy_ndla_test:
    name: Deploy NDLA test
    if: github.actor != 'dependabot[bot]' && !failure() && !cancelled()
    needs:
      - get_variables
      - build_image_hub
      - build_image_content_author
    uses: ./.github/workflows/deploy-eb.yaml
    with:
      version: ${{ needs.get_variables.outputs.releaseRef }}
      environment: ndla_test
    secrets: inherit

  deploy_ndla_staging:
    name: Deploy NDLA staging
    if: github.actor != 'dependabot[bot]' && !failure() && !cancelled()
    needs:
      - get_variables
      - build_image_hub
      - build_image_content_author
    uses: ./.github/workflows/deploy-eb.yaml
    with:
      version: ${{ needs.get_variables.outputs.releaseRef }}
      environment: ndla_staging
    secrets: inherit
